<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma page web</title>
</head>
<body>
<h1>Ma page d'accueil 2</h1>
<p>Age : {{ age }}</p>
{% if age >= 18 %}
    <p>Vous êtes majeur</p>
{% else %}
    <p>Vous êtes mineur</p>
{% endif %}
<p>Age ternaire : {{ age >= 18 ? "Vous êtes majeur !" : "Vous êtes mineur" }}</p>
<p>Date: {{ date|date("d/m/y H:i") }}</p>
<p>Vous avec enregistré {{ fruits|length }} fruits</p>
<ul>
    {% for fruit in fruits %}
        <li>{{ fruit }}</li>
    {% endfor %}
</ul>
</body>
</html>